<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Spring_01/src/com/jason/a_AOP/cglib_手动/Test_AOP_Cglib.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jason.a_AOP.cglib_手动.Test_AOP_Cglib"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Spring_01"/>
</launchConfiguration>
